.pic1 {
    width: 650px;
    height: 650px;
    /* border: 1px solid red; */
    padding-left: 100px;
}

.pic1 img {
    border-radius: 25px;
    width: 90%;
    height: 100%;
}

.contentWrapper {
    width: 100%;
    min-height: 90vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Info {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
}

.Info h2 {
    font-family: sans-serif;
    font-size: 3em;
    color: white;
}

.Info h3 {
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    color: white;
    line-height: 30px;
}

.Info h4 {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
    line-height: 30px;
}


.hiddenpic1 {
    display: none;
}

@media (max-width:1400px) {

    .contentWrapper {
        justify-content: center;
    }

    .pic1 {
        width: 500px;
        padding-left: 30px;
    }

    .Info {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 1024px) {

    .pic1 {
        width: 400px;
        height: 600px;
    }

    .Info {
        width: 350px;
        padding-left: 10px;
    }
}

@media (max-width:768px) {
    .contentWrapper {
        padding: 10px;
        flex-direction: column;
    }

    .Info {
        width: 100%;
    }

    .Info h3{
        height: 100px;
    }

    .pic1 {
        display: none;
    }

    .hiddenpic1 {
        display: block;
        width: 500px;
        height: 550px;
        display: flex;
        justify-content: center;
    }

    .hiddenpic1 img {
        border-radius: 25px;
        width: 90%;
        height: 100%;
    }
}

@media (max-width:550px) {
    .hiddenpic1 {
        display: block;
        width: 400px;
        height: 500px;
    }
}

@media (max-width:425px) {
    .hiddenpic1 {
        display: block;
        width: 100%;
        height: auto;
        min-height: 300px;
    }
}

@media(max-width:375px) {
    .Info h2 {
        font-size: 2.6em;
    }

    .Info h3 {
        font-size: 1.5em;
    }
}