.Headercover {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
    padding: 10px;
}

.logo {
    width:  250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

.logo h4 {
    font-size: 1.5em;
    font-family: sans-serif;
    color: #4C585B;
}

.add1 {
    color: #4C585B;
}

.add {
    color: white;
}

.MiniHeader {
    width: 50px;
    height: 50px;
    display: none;
}

.MiniHeader img {
    height: 100%;
    width: 100%;
}

.navbar {
    min-width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #555555a3;
}

.active {
    background-color: #555;
    font-weight: bold;
}

.contact {
    height: 50px;
    width: 220px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-family: sans-serif;
    color: white;
    background-color: #4C585B;
}

.navbar span {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    list-style: none;
}

.navbar :link {
    text-decoration: none;
}

.Menu {
    position: fixed;
    left: 0;
    top: 100px;
}


/* ✅ Responsive Styling */
@media (max-width: 768px) {
    .MiniHeader {
        display: block;
    }   

    .Headercover {
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
        height: 100px;
        position: sticky;
        top: 0;
        background-color: white;
    }

    .navbar {
        display: none;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .logo img {
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
    }
}

@media (max-width:1024px) {

    .logo{
        width: 200px;
        height: 200px;
    }

    .contact{
        display: none;
    }

    .Headercover{
        gap:40px
    }
    .navbar{
        width: 70%;
        min-width: 400px;
        gap:5px;
    }
}